// Listing of spends listing jade
extends layout

block content
	form(action="/listing" method="get")
		table
			tr
				th Date
				th Payee
				th Description
				th Category
				th Budget
				th Actual
				th CashFlow
				th Options
				if(spends.length===0)
					p You haven't entered an items in your spending plan yet.
				else
					for spend in spends
						tr.spendingRow
							td #{spend.date.toLocaleDateString()}
							td #{spend.payee}
							td #{spend.description}
							td #{spend.category} 
							td #{spend.budget.value}
							td #{spend.actual.value}
							td Cash Flow
							td
								form(action='/doSomething' method='get')
									input(type='submit' value='Update')
								form(action='/doSomething' method='get')
									input(type='submit' value='Delete')
								form(action='/doSomething' method='get')
									input(type='submit' value='Duplicate')
									
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")