// Listing of spends listing jade
extends layout

block content
	h1 Here's what your spending looks like for the year
	h2 Your net for the year is #{netSpending}
	form(action="listingWOptions" method="get")
		input(type='submit' value='Update a Spending Item')
	form(action="listingWOptions" method="get")
		input(type='submit' value='Delete a Spending Item')
	
	form(action="/listing" method="get")
		table.spendingTable
			tr
			if(spends.length===0)
				p You haven't entered any items in your spending plan yet.
			else
				th Date
				th Payee
				th Description
				th Category
				th Budget
				th Actual
				th CashFlow
				tr
					td Starting Balance
					td
					td
					td
					td
					td
					td #{startCash}
				for spend in spends
					tr.spendingRow
						td #{spend.date}
						td #{spend.payee}
						td #{spend.description}
						td #{spend.category} 
						td #{spend.budget.value}
						td #{spend.actual.value}
						td #{spend.cashFlow.value}
									
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")